#grow {
  transition: 0.2s;
}
#grow:hover {
  transform: scale(1.05);
  /* transform: translateX(20px); */
}

#no-deco {
  text-decoration: none;
}

#button {
  border-radius: 30px;
  background-color: #bbe1fa;
}



/* #end-add {
  height: 3vh;
  border-radius: 10px;
} */

#addTask {
  border: none;
  outline: none;
  height: 60%;
 
  width: 12vw;
}

#addTask:focus {
  outline: none;
}

/* #bord:hover{
  border: 3px solid black;
} */
.lack {
  border: 2px solid black;
}
.margin {
      
      background-color: '#fff';
      border-radius: '40px';
      
      display: 'flex';
      justify-content: 'space-around';
      align-items: 'center';
      margin-bottom: '0';
      width: '17vw';
    }